#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 460px;
}
#sortable li {
  margin: 3px 3px 3px 0;
  padding: 5px;
  float: left;
  width: 100px;
  height: 120px;
  text-align: center;
  border: 1px;
}
.handle {
  background: lime;
  width: 100%;
  float: left;
  height: 80%;
  font-size: 4em;
}
#sortable li em {
  cursor: pointer;
}
